<html>

<head>
    <title>React Lessons</title>
    <style>
        body {
            padding: 5%;
        }
    </style>
</head>

<body>
    <div id='container'></div>
</body>

</html>
<script src="/javascripts/react.js" type="text/javascript"></script>
<script src="/javascripts/react_dom.js" type="text/javascript"></script>
<script src="/javascripts/babel.js"></script>
<script src="/lesson1/component/home.js" type="text/babel"></script>